.tm-contact {
    display: flex;
}

.tm-contact { flex-direction: row-reverse; }
.tm-about > div { flex: 1 1; }

.tm-contact-form-container,
.tm-contact-info {
    width: 40%;
}

.tm-contact-info { padding-top: 20px; }
.tm-contact-header { width: 20%; }

.tm-contact-header {
    padding-left: 50px;
    padding-right: 50px;
}

.tm-contact { padding: 50px 20px; }

.tm-contact > div {
    padding-left: 20px;
    padding-right: 34px;
}
.tm-social-link {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width: 20px;
    height: 20px;
    margin-right:20px ;
}
@media (max-width: 680px) {
    .tm-contact { flex-direction: column; }
    
    .tm-contact-form-container,
    .tm-contact-info,
    .tm-contact-header {
        width: 100%;
    }

    .tm-contact-form-container { margin-bottom: 20px; }
    .tm-contact-info { margin-bottom: 30px; }
}
.tm-bgcolor-3 { background-color: #99CCCC; }
.tm-flex { display: flex; }

